.idea
__pycache__
.ipnyb_checkpoints
__pycache__/MaxMetric.cpython-36.pyc
.ipynb_checkpoints/Max Metric Test-checkpoint.ipynb
__pycache__/DataType.cpython-36.pyc
__pycache__/MaxMetric.cpython-36.pyc
__pycache__/MaxMetric.cpython-36.pyc
__pycache__/DataType.cpython-36.pyc
.ipynb_checkpoints/Tests-checkpoint.ipynb
.ipynb_checkpoints/Tests-checkpoint.ipynb
